body {    
  margin: 0 !important;
  padding: 0 !important;
}

.banner {
  height: 70px;
  width: 100%;
  font-family: "Monaco", monospace;
  font-size: 20px;
  font-weight: lighter;
  /* text colour */
  color: white;
  background-image: url('Images/Banner.jpg');
  background-size: 7px;
  position: sticky;
  top: 0;
  }

.banner_title {
  width: 100%;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  margin: 0 !important;
  font-weight: lighter;
}

.buttons {

}

.resume_embed {
  width: 100%;
  padding: 0;
}